<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutoQATest Suite" verbose="1">

    <test name="Login Tests">
        <classes>
            <class name="com.autoqatest.LoginTest"/>
        </classes>
    </test>

    <test name="Signup Tests">
        <classes>
            <class name="com.autoqatest.SignupTest"/>
        </classes>
    </test>

    <test name="Form Validation Tests">
        <classes>
            <class name="com.autoqatest.FormValidationTest"/>
        </classes>
    </test>

</suite>
